{% extends 'template.html' %}

{% block title %}
Attend
{% endblock %}


{% block content %}
<h1>Attend</h1>

<div>
    <form action="{{url_for('handel_generate_lab_report')}}" , method="post">
        <table class="table">
            <tr>
                <th>Paitent name</th>
                <td><input type="text" readonly name="name" value="{{program_data['paitent_data']['name']}}"></td>
            </tr>
            <tr>
                <th>Report</th>
                <td><select name="report">
                        <option value=""></option>
                        {% for report_type in program_data["lab_report_types"] %}
                        <option value="{{report_type['rid']}}">{{report_type["type"]}}</option>
                        {% endfor %}
                    </select></td>
            </tr>
            <tr>
                <th>Fee</th>
                <td><input type="number" name="fee"></td>
            </tr>
        </table>
        <button class="btn btn-primary">submit</button>
    </form>

</div>

{% endblock %}