{% extends 'template.html' %}

{% block title %}
lab report
{% endblock %}


{% block content %}
<h1>Lab Report</h1>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Report Id</th>
            <th>Consult ID</th>
            {% if program_data["user_type"] == "doctor" %}
            <th>Paitent Name</th>
            {% else %}
            <th>Doctor Name</th>
            {% endif %}
            <th>Report Type</th>
            <th>Fee</th>
        </tr>
    </thead>
    <tbody>
        {% for lab_report in program_data["lab_reports"] %}
        <tr>
            <td>{{lab_report.report_id}}</td>
            <td>{{lab_report.consult_id}}</td>
            {% if program_data["user_type"] == "doctor" %}
            <td>{{lab_report.p_name}}</td>
            {% else %}
            <td>{{lab_report.d_name}}</td>
            {% endif %}
            <td>{{lab_report.report_type}}</td>
            <td>{{lab_report.fee}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}