{% extends 'template.html' %}

{% block title %}
consult
{% endblock %}


{% block content %}
<form action="{{ url_for('consult_handle') }}" method="post">
  <table>
    <tr>
      <th>Doctor name</th>
      <td>
        <select name="doctor">
          <option value=""></option>
          {% for doctor in program_data["doctors"] %}
          <option value="{{doctor['doctor_id']}}">{{doctor['name']}} - {{doctor['dept']}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <th>consult date</th>
      <td><input type="date" name="consult_date" /></td>
    </tr>
    <tr>
      <th>consult time</th>
      <td>
        <select name="consult_time">
          <option value=""></option>
          {% for consult_time in program_data["consult_timings"] %}
          <option value="{{consult_time['cid']}}">{{consult_time['time']}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
  </table>
  <button type="submit">book</button>
</form>
{% endblock %}