{% extends 'template.html' %}

{% block title %}
consult
{% endblock %}


{% block content %}
<form action="">
  <table>
    <tr>
      <th>Doctor name</th>
      <td>
        <select>
          <option value=""></option>
          {% for doctor in program_data["doctors"] %}
          <option value="{{doctor['doctor_id']}}">{{doctor['name']}} - {{doctor['dept']}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <th>consult time</th>
      <td><input type="datetime-local" /></td>
    </tr>
  </table>
  <button type="submit">book</button>
</form>
{% endblock %}