<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>hospital db</title>
  </head>
  <body>
    <form action="{{ url_for('signup_handle') }}" , method="post">
      <table>
        <tr>
          <th>Name</th>
          <td><input type="text" name="name" id="" /></td>
        </tr>
        <tr>
          <th>Date Of Birth</th>
          <td><input type="date" name="dob" id="" /></td>
        </tr>
        <tr>
          <th>Gender</th>
          <td><input type="text" name="gender" id="" /></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><input type="email" name="email" id="" /></td>
        </tr>
      </table>
      <button type="submit">Signup</button>
      <p><a href="/login">Login</a></p>
    </form>
  </body>
</html>
