<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>hospital db - {% block title %}{% endblock %}</title>
</head>

<body>
    <nav>
        <div>
            <a href="/">
                <h1>RNS Hospital</h1>
            </a>
        </div>

        {% if program_data["is_login"] != False %}
        <div>
            <ul>
                <li><a href="/lab_report">labreport</a></li>
                <li><a href="/report">report</a></li>
                <li><a href="/consult">consult</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
        </div>
        {% else %}
        <div>
            <ul>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/doctor_login">Doctor Login</a></li>
            </ul>
        </div>
        {% endif %}
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>

</html>